body {

    background-color: #25e4db;
  }
  .panel-primary > .panel-heading {
    background: hsl(203, 88%, 49%); color: rgb(250, 250, 250);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

  .jumbotron {
    background-image: url("../Images/microbes.jpg");
    background-size: 100% 110%;
    background-color: rgb(61, 223, 169);
    text-align: center;
  }